body {
	font-size: 32px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	padding: 10px 15px;
	color: #000000;
}

.button {
  font-size: 30px;
  background-color: lightgray;
  padding: 16px 32px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.button:hover {
  font-size: 30px;
  background-color: yellow;
  transition-duration: 300ms;
  cursor: pointer;
}

ul {
	list-style-type: none;
}
