* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  color: #000;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
}

.button-class {
  border: 3px solid black;
  background-color: lightyellow;
  color: black;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  margin: 5px 10px;
  padding: 15px 30px;
  text-align: center;
  cursor: pointer;
  width: 250px;
  height: 60px;
}

.button-class:hover,
.button-class:focus {
  font-size: 17px;
}

.pokemon-list {
  display: inline;
  list-style-type: none;
  text-align: center;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* Shows modal above other content */
  z-index: 999;

  /* Allows scrolling if the screen isn't high enough */
  overflow: auto;

  /* Centers the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: lightgrey;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  border-radius: 20px;
}

.closed-modal {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: grey;
  text-decoration: underline;
}

.modal h2 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}
